* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  padding: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  width: 40%;
  padding: 10px;
}
.container > .title {
  font-size: 25px;
}

.container > label {
  display: block;
  font-size: 15px;
}

li {
  padding-left: 30px;
}

.container > input {
  margin: 7px 0 10px 0;
  height: 37px;
  padding: 10px;
}

.container > button {
  background-color: #5487e0;
  color: white;
  width: 33%;
  height: 29px;
  font-weight: 800;
}
