* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  width: 40%;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container > .title {
  font-size: 25px;
}

.container > label {
  display: block;
  font-size: 15px;
}

li {
  padding-left: 30px;
}

.container > input {
  margin: 7px 0 10px 0;
  height: 37px;
  padding: 10px;
}

button {
  background-color: #5487e0;
  color: white;
  width: 33%;
  height: 29px;
  font-weight: 800;
}

.componentLayout {
  display: flex;
  flex-direction: row;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
}

.recoveryTimesStartInputs {
  display: flex;
  flex-direction: column;
  min-width: 48%;
}

.recoveryTimesStartInputs > label {
  display: block;
  font-size: 15px;
  padding-top: 10px;
}

.recoveryTimesStartInputs > input {
  margin: 7px 0 10px 0;
  height: 37px;
  padding: 10px;
}

table,
th,
td {
  border: 2px solid #aaaaaa;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  padding: 10px;
  width: 50%;
}

th {
  text-align: left;
}

tr > td:last-child {
  text-align: right;
}

.time-display {
  margin: 15px 0 15px 0;
}

.frequency {
  margin: 16px 0 -0 0;
}
.durationInput {
  display: flex;
  flex-direction: column;
}

.durationInput > input {
  padding-bottom: 10px;
}
